<div class="grid justify-content-center flex-column align-items-center">
  <h3>Schedule The Randomness</h3>
  <p></p>
  <p style="margin: unset">Master of Ceremonies</p>
  <div>
    <img height="100" src="assets/images/gelato.svg" />
  </div>
  <p style="margin: 20px">Featuring Randomness by</p>
  <div class="flex flex-wrap mt-3">
    <a target="_blank" rel="noopener noreferrer" href="https://api3.org/qrng">
      <img
        src="https://api3.org/img/quantum-random-numbers/embed-badges/Type=Green, Size=Large.png"
        width="150px"
        height="52px"
      />
    </a>

    <a target="_blank" rel="noopener noreferrer" href="https://witnet.io/">
      <img
        style="filter: contrast(0.1); margin:0px 20px;"
        src="assets/images/witnet.svg"
        width="150px"
        height="52px"
      />
    </a>
    <a target="_blank" rel="noopener noreferrer" href="https://api3.org/qrng">
        <img
          src="assets/images/chainlink.svg"
          width="150px"
          height="52px"
        />
      </a>
  </div>
  <p style="margin-top: 10px">Automate the Unknow</p>

  <!-- <p-progressSpinner></p-progressSpinner> -->
</div>
